@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

@font-face {
  font-family: 'roadgeek';
  src: url('fonts/roadgeek.woff2') format('woff2'),
       url('fonts/roadgeek.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arrows';
  src: url('fonts/arrows.woff2') format('woff2'),
       url('fonts/arrows.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'roadgeek';
}
