.btn {
  @apply p-2;
  @apply border;
}

.btn-sm {
  @apply p-1;
  @apply text-sm;
  @apply border;
}

.region-none, .region-graham, .region-portage, .region-main {
  .btn {
    @apply border-white;

    &:active {
      @apply bg-white;
    }
  }
}

.region-none .btn:active {
  color: black;
}

.region-graham .btn:active {
  color: $graham;
}

.region-portage .btn:active {
  color: $portage;
}

.region-main .btn:active {
  color: $main;
}

.region-stmary .btn {
  @apply border-black;

  &:active {
    @apply bg-black text-white;
  }
}
