.region-none, .region-none .bg-region {
  background-color: black;
}

.region-none .bg-region-contrast {
  @apply bg-white;
}

.region-none .text-region-contrast {
  @apply text-black;
}


.region-graham {
  background-color: #260691;
}

.region-graham .bg-region-contrast {
  background-color: #a3810b;
}

.region-graham .text-region-contrast {
  @apply text-white;
}


.region-main {
  background-color: #a3810b;
}

.region-portage {
  background-color: #119bab;
}

.region-stmary {
  background-color: white;
}

.region-main .bg-region-contrast, .region-portage .bg-region-contrast, .region-stmary .bg-region-contrast {
  background-color: #260691;
}

.region-main .text-region-contrast, .region-portage .text-region-contrast, .region-stmary .text-region-contrast {
  @apply text-white;
}


.region-graham, .region-main, .region-portage, .region-none {
  color: white;
}

.region-graham .border-region, .region-main .border-region, .region-portage .border-region, .region-none .border-region {
  @apply border-white;
}

.region-stmary {
  color: black;
}

.region-stmary .border-region {
  @apply border-black;
}
