.region-none {
  background-color: black;

  .bg-region {
    background-color: black;
  }

  .bg-region-contrast {
    @apply bg-white;
  }

  .text-region-contrast {
    @apply text-black;
  }

  .bg-region-highlight {
    background-color: $main;
  }

  .text-region-highlight {
    @apply text-black;
  }
}

.region-graham {
  background-color: $graham;

  .bg-region {
    background-color: $graham;
  }

  .bg-region-contrast {
    background-color: $main;
  }

  .text-region-contrast {
    @apply text-white;
  }

  .text-region-highlight {
    color: $graham;
  }
}

.region-main {
  background-color: $main;

  .bg-region {
    background-color: $main;
  }

  .text-region-highlight {
    color: $main;
  }
}

.region-portage {
  background-color: $portage;

  .bg-region {
    background-color: $portage;
  }

  .text-region-highlight {
    color: $portage;
  }
}

.region-main, .region-portage, .region-stmary {
  .bg-region-contrast {
    background-color: $graham;
  }

  .text-region-contrast {
    @apply text-white;
  }
}

.region-graham, .region-main, .region-portage, .region-none {
  color: white;

  .border-region {
    @apply border-white;
  }

  .bg-region-highlight {
    @apply bg-white;
  }
}

.region-stmary {
  background-color: white;
  color: black;

  .bg-region {
    background-color: white;
  }

  .border-region {
    @apply border-black;
  }

  .bg-region-highlight {
    background-color: black;
  }

  .text-region-highlight {
    color: white;
  }
}

/* Adapted from https://css-tricks.com/books/volume-i/striped-barberpole-animation/ */

.loading\:bg-region {
  background-size: 400% 400%;
  animation: barberpole 40s linear infinite reverse;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

.region-none .loading\:bg-region {
  background-image:
  repeating-linear-gradient(
    -45deg,
    white,
    white 0.5rem,
    black 0.5rem,
    black 1rem
  );
}

.region-main .loading\:bg-region {
  background-image:
  repeating-linear-gradient(
    -45deg,
    white,
    white 0.5rem,
    $main 0.5rem,
    $main 1rem
  );
}

.region-stmary .loading\:bg-region {
  background-image:
  repeating-linear-gradient(
    -45deg,
    black,
    black 0.5rem,
    white 0.5rem,
    white 1rem
  );
}

.region-graham .loading\:bg-region {
  background-image:
  repeating-linear-gradient(
    -45deg,
    white,
    white 0.5rem,
    $graham 0.5rem,
    $graham 1rem
  );
}

.region-portage .loading\:bg-region {
  background-image:
  repeating-linear-gradient(
    -45deg,
    white,
    white 0.5rem,
    $portage 0.5rem,
    $portage 1rem
  );
}

.top-safe {
  top: 0;
}

@supports(top: max(0px)) {
  .top-safe {
    top: max(0px, env(safe-area-inset-top));
  }
}

.font-arrows {
  font-family: 'arrows';
}
