.region-none {
  background-color: black;

  .bg-region {
    background-color: black;
  }

  .bg-region-contrast {
    @apply bg-white;
  }

  .text-region-contrast {
    @apply text-black;
  }
}

.region-graham {
  background-color: $graham;

  .bg-region {
    background-color: $graham;
  }

  .bg-region-contrast {
    background-color: $main;
  }

  .text-region-contrast {
    @apply text-white;
  }
}

.region-main {
  background-color: $main;

  .bg-region {
    background-color: $main;
  }
}

.region-portage {
  background-color: $portage;

  .bg-region {
    background-color: $portage;
  }
}

.region-main, .region-portage, .region-stmary {
  .bg-region-contrast {
    background-color: $graham;
  }

  .text-region-contrast {
    @apply text-white;
  }
}

.region-graham, .region-main, .region-portage, .region-none {
  color: white;

  .border-region {
    @apply border-white;
  }
}

.region-stmary {
  background-color: white;
  color: black;

  .bg-region {
    background-color: white;
  }

  .border-region {
    @apply border-black;
  }
}
