<div class="flex-grow mb-2">
  <p>Bluetooth status: {{@provider.status}}</p>
  <p>
    Devices:
    <ul>
      {{#each @provider.devices as |device|}}
        <li>{{device}}</li>
      {{/each}}
    </ul>
  </p>
</div>