<div class="flex flex-row flex-grow mb-2">
  <img src={{@provider.imageUrl}} class="flex-1 object-contain pr-1" alt="Image from camera">
  <div class="flex-1 pl-1">{{join " " @provider.recognised.words.wordtext}}</div>
</div>
