<Capabilities::Barcodes as |barcodes|>
  <button class="btn" {{on "click" (perform barcodes.request)}} data-test-scan>Scan barcode</button>

  {{#if barcodes.barcodes.length}}
    <ul {{did-update this.updateBarcodes barcodes.barcodes}} data-test-barcodes>
      {{#each barcodes.barcodes as |barcode|}}
        <li>{{barcode}}</li>
      {{/each}}
    </ul>
  {{/if}}
</Capabilities::Barcodes>
