<h1 class="text-2xl"><LinkTo @route="application">waydowntown</LinkTo></h1>

<nav class="pl-8">
  <ul class="list-disc">
    <li><LinkTo @route="bluetooth-scan">Bluetooth Scan</LinkTo></li>
  </ul>
</nav>

{{outlet}}

{{#if this.debugLog.entries}}
  <button {{on "click" (action (mut this.showLogEntries true))}} class="fixed bottom-0 bg-gray-200 p-1 w-full" data-test-log-drawer>
    <div data-test-log-count>{{this.debugLog.entries.length}}</div>
    {{#if this.showLogEntries}}
      <ul>
        {{#each this.debugLog.entries as |entry|}}
          <li data-test-log-entry>{{entry}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </button>
{{/if}}
