<h1 class="text-2xl"><LinkTo @route="application">waydowntown</LinkTo></h1>

<nav class="pl-8">
  <ul class="list-disc">
    <li><LinkTo @route="bluetooth-scan">Bluetooth Scan</LinkTo></li>
  </ul>
</nav>

{{outlet}}
