<Capabilities::Barcodes as |barcodes|>
  <button class="btn" {{on "click" (perform barcodes.request)}}>Scan</button>

  <ul>
    {{#each barcodes.barcodes as |barcode|}}
      <li>{{barcode}}</li>
    {{else}}
      <li>no barcodes</li>
    {{/each}}
  </ul>

  {{#if barcodes.error}}
    <p>Error: {{barcodes.error}}</p>
  {{/if}}
</Capabilities::Barcodes>
