<button class="btn" {{on "click" this.start}}>Observe</button>
<button class="btn" {{on "click" this.stop}}>Stop</button>

<ul>
  <li>level: {{this.event.level}}</li>
  <li>isPlugged: {{this.event.isPlugged}}</li>
</ul>
