<Capabilities::Decibels as |decibels|>
  <span {{did-insert (perform decibels.request)}}>db: {{decibels.decibels}}</span>

  {{#if decibels.error}}
    <p>Error: {{decibels.error}}</p>
  {{/if}}
</Capabilities::Decibels>
