<div {{did-insert (action this.setupConsumer)}} class="fixed right-0 top-0 bg-gray-200 p-1 h-8" data-test-member-name>
  {{this.member.name}}
</div>

<LinkTo class="underline" @route="member.capabilities">Capabilities walkthrough</LinkTo>

{{outlet}}