<Capabilities::Devicemotion as |devicemotion|>
  <ul {{did-insert (perform devicemotion.request)}}>
    <li>x: {{devicemotion.event.acceleration.x}}</li>
    <li>y: {{devicemotion.event.acceleration.y}}</li>
    <li>z: {{devicemotion.event.acceleration.z}}</li>
  </ul>
</Capabilities::Devicemotion>
