<Capabilities::Ocr as |ocr|>
  <button class="btn" {{on "click" (perform ocr.request)}}>Take photo and analyse</button>

  <img src={{ocr.imageUrl}} class="flex-1 object-contain pr-1" alt="Image from camera">
  <div class="flex-1 pl-1">{{join " " ocr.recognised.words.wordtext}}</div>

  {{#if ocr.error}}
    <p>Error: {{ocr.error}}</p>
  {{/if}}
</Capabilities::Ocr>
