<Capabilities::Deviceorientation as |deviceorientation|>
  <ul {{did-insert (perform deviceorientation.request)}}>
    <li>z: {{deviceorientation.event.alpha}}</li>
    <li>x: {{deviceorientation.event.beta}}</li>
    <li>y: {{deviceorientation.event.gamma}}</li>
  </ul>
</Capabilities::Deviceorientation>