<button class="border border-region" {{on "click" this.start}}>Get info</button>

{{#if this.info}}
  <ul>
    {{#each-in this.info as |key value|}}
      <li>{{key}}: {{value}}</li>
    {{/each-in}}
  </ul>
{{/if}}

{{#if this.error}}
  <p>Error: {{this.error}}</p>
{{/if}}
